.btnEnviar {
    background-color: #f15d5d !important;
    color: white !important;

}

.btnEnviar:hover {
    background-color: #ff8585 !important;
    color: white !important;
}

.corpo {
    height: 90vh !important;
}